<!-- News -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].news.section | default: "news" }}">
<style type="text/css">
.ticker {
width: 100%;
#background-color: #84bdc7;
height: 275px;
padding-right: 200px;
padding-left: 200px;
padding-top: 30px;
padding-bottom: 50px;}

.newsheader {
font-size: 20px;
font-weight: bold;
font-margin-bottom: 30px;
text-transform: none;
 @include heading-font;}

.carousel-indicators li {
  background-color: #007474;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #007474;
}


.carousel-icon:link,
.carousel-icon:visited,
.carousel-icon:active, {
  /* color: red; */
  /* background-color: red; */
  background-color: #007474;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 60%, 60%;
  border-radius: 50%;
  background-color: #007474;
}

.carousel-control-next, .carousel-control-prev {
    overflow: hidden;
    opacity: .75!important;
        
}

</style>

    <div class="container">
<div class="col-lg-12 text-center">
<h2 class="section-heading text-uppercase">What's New in CLASS</h2>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="ticker text-center"><h4 class="newsheader">Power Up Research Software Development with Github Copilot - June 5, 2024</h4>
Learn how Github Copilot can streamline your research software development and create robust documentation so that you solve your science challenges faster and better.    
<br/><br/><br/><a class="btn btn-outline-info btn-lg" href="https://internet2-class.github.io/events" role="button">Sign Up Today</a>

    </div></div>
    <div class="carousel-item">
    <div class="ticker text-center"><h4 class="newsheader">AWS Security Intermediate Course June 10 - July 19</h4>
This 6-week asynchronous course utilizes CloudAcademy and instructor check-ins to equip you with the fundamentals of cloud security on AWS. Topics will include shared responsibility models, infrastructure and data protection, incidence response, and logging and monitoring. 
<br/><br/><br/><a class="btn btn-outline-info btn-lg" href="/events" role="button">Learn More</a>

	</div></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>	 

 
    </div>
  </section>
{% endif %}  
<!-- End News -->
