// Font Mixins
@mixin serif-font {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix);src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix) format("eot"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff2) format("woff2"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff) format("woff"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal
}
@mixin script-font {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix);src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix) format("eot"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff2) format("woff2"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff) format("woff"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal
}
@mixin body-font {
  font-family: "Avenir" -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix);src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix) format("eot"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff2) format("woff2"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff) format("woff"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal
}
@mixin heading-font {
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix);src:url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.eot?#iefix) format("eot"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff2) format("woff2"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.woff) format("woff"),url(https://webfonts.brand.ucsb.edu/Avenir/AvenirLTW04-55Roman.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal
}
